<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/vlcsnap-2019-01-10-16h14m34s506.png">
    <link href='/css/styles.css' rel="stylesheet">
<head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>

    {{>footer}}
</body>

</html>
